<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/seances_registration_style.css">
    <title>Seances de cours</title>
</head>
<body>
    
    <header class="container-fluid ">
        <nav class="row bg-dark d-flex align-items-center">
            <div class="col-lg-2 col-12 logo d-flex justify-content-center my-2">
                <a th:href="@{/}">
                    <span>Free</span>
                    <span>School</span>
                </a>
            </div>
            <div class="col-lg-10 col-12  menu">
                <a th:href="@{/profs}" class=" align-self-stretch">Professeurs</a>
                <a th:href="@{/cours}" class=" align-self-stretch">Cours</a>
                <a th:href="@{/seancesCours}" class=" align-self-stretch">Seances de cours</a>
                <a href="#contact" class=" align-self-stretch">Nous contacter</a>
                <a href="#contact" class=" align-self-stretch">About</a>
                <a href="http://www.paypal.me/Geffred" class=" align-self-stretch d-flex align-items-center donate"> 
                    <span>Donate</span>
                    <img src="../img/wallet.svg" class="mx-2" alt="wallet" width="30" height="30">
                </a>
            </div>
            <div class="col-lg-10 col-12  menu " id="mobile">
                <a th:href="@{/profs}" class=" align-self-stretch">Professeurs</a>
                <a th:href="@{/cours}" class=" align-self-stretch">Cours</a>
                <a th:href="@{/seancesCours}" class=" align-self-stretch">Seances de cours</a>
            </div>
        </nav>
    </header>

    <main class="container">

        <div class="registration">
            <div class="d-flex justify-content-center">
                <img src="../img/board.svg" alt="board" width="50" height="50">
            </div>
            <form action="/seancesCoursRegistrationForm" method="post" th:object="${seancesCours}">

                <div class="my-2" >
                    <label for="jours">Jours</label>
                    <select class="form-select" id="jours" required th:field="*{jours}"> 
                        <option th:value="Lundi">Lundi</option>
                        <option th:value="Mardi">Mardi</option>
                        <option th:value="Mercredi">Mercredi</option>
                        <option th:value="Jeudi">Jeudi</option>
                        <option th:value="Vendredi">Vendredi</option>
                    </select>
                </div>
    
                <div class="my-2" >
                    <label for="heureDeb">Heure de début</label>
                    <input class="form-control" type="time" id="heureDeb" th:field="*{heureDeb}" >
                    <div>
                        <span th:errors="*{heureDeb}"> </span>
                    </div>
                </div>
    
                <div class="my-2" >
                    <label for="heureFin">Heure de fin</label>
                    <input class="form-control" type="time" id="heureFin" th:field="*{heureFin}" >
                </div>
    
                <div class="my-2">
                    <label for="profs">Professeur</label>
                    <select class="form-select" id="profs" th:field="*{prof}" >
                        <option th:each="p : ${profs}" th:value="${p.id}">
                            <span th:text="${p.id}"></span>
                            <span th:text="${p.nom}"></span>
                            <span th:text="${p.prenom}"></span>
                        </option>
                    </select>
                </div>
    
                <div class="my-2">
                    <label for="cours">Cours</label>
                    <select class="form-select" th:field="*{cours}" id="cours">
                        <option th:each="c : ${courses}" th:value="${c.id}">
                            <span th:text="${c.nom}"></span>
                        </option>
                    </select>
                </div>
                
                <div class="boutton d-flex justify-content-between align-items-center">
                    <a th:href="@{/seancesCours}"><img src="../img/back-square.svg" alt="retour" width="50" height="50"></a>
                    <input class="bt" type="submit" value="Enregistrer">
                </div>

                <span th:text="${msgError}"></span>
               
            </form>
           
        </div>
       
        
    </main>

    <footer class="container-fluid px-5  py-3 bg-dark">
        <div class="row">
             <div class="col-lg-12 col-12 footer_01 " id="contact">
                 <a th:href="@{/}">
                     <span>Free</span>
                     <span>School</span>
                 </a>
                 <span>VOUS AVEZ UN TRUC À NOUS DEMANDER ?</span>
                
             </div>
             <div class="row d-flex align-items-center link my-3 " style="margin:0px auto">
                 <div class="col-lg-6 col-12 d-flex  flex-column">
                     <span> Rue Gatti de Gamond 95, 1180 Uccle </span>
                     <div class="adress">
                         <a href="tel:+320467774391">+320467774391</a>
                         <a href="#">tchapda20@gmail.com</a> 
                     </div>
                 </div>
                 <div class="col-lg-6 col-12  social">
                         <div class="my-2">
                             <a target="_blank" href="https://www.linkedin.com/in/geffred-tchapda-5866b6174/"><img src="../img/linkedin.svg" alt="linkedin" width="30" height="30" class="mx-2"></a>
                             <a target="_blank" href="https://www.youtube.com/@cgcm.studio/videos"><img src="../img/youtube.svg" alt="youtube" width="30" height="30" class="mx-2"></a>
                             <a target="_blank" href="https://www.instagram.com/geffred.tchapda/"><img src="../img/instagram.svg" alt="instagram" width="30" height="30" class="mx-2" ></a>
                         </div> 
                 </div>
             </div>
             <hr>
             <div class="d-flex justify-content-center copyright">
                 <span>  &copy Copyright tous les droits reservés à Tchapda .N Geffred</span>
             </div>
        </div>
    </footer>
</body>
</html>